body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 202px;
  height: 85px;
}

* {
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.search {
  display: flex;
  justify-content: center;
}

.cancelbtn {
  padding: 2px 2px;
  background-color: #f44336;
  border-radius: 10px;
}

.cancelbtn,
.signupbtn {
  width: 120px;
}

.modal {
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: #cb9696;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 30%; 
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  right: 35px;
  top: 15px;
  bottom: 12px;
  font-size: 40px;
  font-weight: bold;
  color: #f44336;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.create {
  border: 2px solid #f44336;
  border-radius: 22px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 40px;
}
.create:hover {
  background-color: #f44336;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
   display: none;
}

.line {
  border-bottom: 2px solid #cb9696;
}

.card_position {
  padding-left: 120px;
}
.modal {
  padding-top: 50px;
  background-color: rgba(0,0,0,0.6);
}

.modal .modal_content {
  background-color: #fefefe;
  margin: -1% auto;
  padding: 20px;
  width: 50%;
}

.modal .modal_content .close_modal_window {
  float: right;
  cursor: pointer;
}
.cancel {
  width: 24px;
  height: 24px;
}
.modal_window {
  background-color: red;
}
.card-title {
  text-align: center;
  color: #944747;
  border: none;
}

.type_of_doctor {
  width: 120px;
  height: 40px;
}
.visit_position {
  text-align: center;
  color: #944747;
}

.background-image {
  background-image: url("../img/1498307643594e5c3baa5f68.33820439.jpg");
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
  background-size: 100%;
}

#button_send {
  width: 100px;
  background-color: #cb9696;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #944747;
  padding: 10px;
  border-radius: 10px;
}

.card-div {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap:20px;
}

.nonactive {
  display: none;
}

.input{
  padding: 3px;
  margin: 0px;
  border: none;
  width: 100%;
  background: #f1f1f1;
}
.modal_input{
  width: 100%;
  padding: 15px;
  margin: 8px 0 8px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


.alert {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
.col {
  background-color: #f1f1f1;
}

.wrapper_active {
  display: none;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: aqua;
}
.item__card {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

.nonactive{
  display: none;
}
