.body{
    background-color:#944747;
}

.color{

    background-color:#CB9696;
}

.logo{
  width:202px; 
  height:85px;
}

* {box-sizing: border-box}
/* Поля ввода полной ширины */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Добавить цвет фона, когда входы получают фокус */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Установите стиль для всех кнопок */
button {
  background-color: #CB9696;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity:1;
}

.search{
  display: flex;
  justify-content: center;
}

/* Дополнительные стили для кнопки "Отмена" */
.cancelbtn {
    padding: 2px 2px;
    background-color: #f44336;
    border-radius: 10px;

}

/* Поплавок очистить и кнопки регистрации и добавить равную ширину */
.cancelbtn, .signupbtn {
  width:120PX
}

/* Добавить отступы к элементам контейнера */
/* .container {
  padding: 16px;
} */

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 1200px; /* Полная ширина */
  height: 1200px; /* Полный высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: #CB9696;
  padding-top: 50px;
}

/* Модальное Содержание/Бокс */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
  border: 1px solid #888;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Стиль горизонтальной линейки */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* кнопка закрытия (x) */
.close {
  right: 35px;
  top: 15px;
  bottom: 12px;
  font-size: 40px;
  font-weight: bold;
  color: #f44336;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.create{
border: 2px solid #f44336;
border-radius: 22px;
padding-left:12px;
padding-right:12px;
padding-top: 5px;
padding-bottom: 5px;
margin-right: 40px;

}
.create:hover{
  background-color:#f44336;
  color:white;
}
/* Снимите поплавки */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Измените стили для кнопки отмены и кнопки регистрации на дополнительных маленьких экранах */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;

  }
}

.colors{
    background-color: #944747;
}

footer{
    background-color: #CB9696;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

input[type="search"]::-ms-clear { /* нестандартный псевдоэлемент IE */ 
  display: none;
}

input[type="search"]::-webkit-search-cancel-button { /* нестандартный псевдоэлемент WebKit/Blink, но Esc по-прежнему будет удалять раннее введённый текст */ 
  display: none;
}

.line {
  border-bottom: 2px solid #CB9696; /* Параметры линии */
}

.registration{
  border:2px solid #944747;
  border-radius: 12px;
  color:#944747;
}

.registration:hover{
color:white;
background-color:#944747
}

.card_position{
  padding-left:120px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modal .modal_content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.cansel{
  width: 24px;
  height: 24px;
}
.modal_window{
  background-color:red;
}
.card-title{
  text-align: center;
  color:#944747;
  border: none;
}

.type_of_doctor{
  width: 120px;
  height: 40px;
}
.visit_position{
  text-align: center;
  color:#944747;

}
/* #last_visit{
  width:210px;
  background-color:#CB9696;
  justify-content: center;
  display: block;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color:#944747;
} */
/* #type_of_doctor{
  width:220px;
  background-color:#CB9696;
  justify-content: center;
  display: block;
  font-size: 20px;
  color:#944747;
} */
/* #type_of_priority{
  width:220px;
  background-color:#CB9696;
  justify-content: center;
  display: block;
  font-size: 20px;
  color:#944747;
} */
#button_send{
  width:100px;
  background-color:#CB9696;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color:#944747;
  padding:10px;
  border-radius: 10px;
}

.cards_style{
  border:2px solid white;
  background-color:#CB9696 ;
  width: 400px;
  height: auto;
  color:#944747;
  border-radius: 12px;
  padding:8px;
  margin: auto;
}

.card-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

.nonactive{
  display: none;
}
